/target
/requests
/stupid_json
/assets
*.tfstate
**/.terraform/*
/rocksdb
/k8s/overlays/aws/patches/rocksdb-pv.yaml
/k8s/overlays/aws/patches/scoring-patch.yaml
/k8s/overlays/aws/patches/updates-patch.yaml
